.Rproj.user
.Rhistory
.RData
.Ruserdata
documento_hito_1.gdoc
instrucciones_hito_1.pdf
limpieza-eda-hito_1.Rproj
presentacion_hito_1.pdf
instrucciones_hito_2.pdf
instrucciones_hito_3.pdf
presentacion_hito_2.pdf
desktop.ini